# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
*.env
.envrc
.venv

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Sublime Text
.sublime-project

# macOS system files
.DS_Store

# Miscellaneous
.pdf
